* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

.coordinates {
    display: flex;
    justify-content: center;
    margin: 100px auto 50px auto;
    font-size: 32px;
}

#coordinates {
    font-size: 42px;
    font-weight: bold;
}

.coordinatesXY {
    font-size: 42px;
}

.square {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, blue, deeppink);
    border-radius: 10px;
    cursor: crosshair;
}