* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b4b90;
    padding: 20px;
    border-radius: 15px;
    margin-top: 150px;
    height: 570px;
}

.text-input {
    width: 400px;
    height: 210px;
    font-size: 32px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 130px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
    background-color: #bb0b0e;
}

button:hover {
    background-color: #ff3a3d;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    column-gap: 20px;
    margin: 20px 20px 0 0;
}

.square {
    width: 40px;
    height: 40px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
